{% extends 'website/base2.html' %}



{% block title %} Contact us - {{ super() }}{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
            <div class="section-title mb30 text-center">
                <!-- section title start-->
                <h1 >Axis Bank Manager List</h1>
                <p class="text-white"></p>
            </div>
            <!-- /.section title start-->
        </div>
    </div>
    </div>
    <table>
        <tr>
            <td>Location</td>
            <td>LH Name</td>
            <td>LH email ID</td>
            <td>LH Contact No.</td>
        </tr>
        <tr>
            <td>Mumbai</td>
            <td>Naman Tiwari</td>
            <td>naman.tiwari@kotak.com</td>
            <td>9920727279</td>
        </tr>
        <tr>
            <td>Thane</td>
            <td>Naman Tiwari</td>
            <td>naman.tiwari@kotak.com</td>
            <td>9920727279</td>
        </tr>
        <tr>
            <td>Bangalore</td>
            <td>Sridhar G R. Gumaste</td>
            <td>Sridhar.GRGumaste@kotak.com</td>
            <td>8197134949</td>
        </tr>
        <tr>
            <td>Chennai</td>
            <td>Kaarthikeyan Damodaran</td>
            <td>kaarthikeyan.damodaran@kotak.com</td>
            <td>9043002369</td>
        </tr>
        <tr>
            <td>Hyderabad</td>
            <td>Vineet agrawal</td>
            <td>vineet.agarwal@kotak.com</td>
            <td>98731 57397</td>
        </tr>
        <tr>
            <td>Cochin</td>
            <td>Venkateswararao J</td>
            <td>Venkateswararao.J@kotak.com</td>
            <td>7799205002</td>
        </tr>
        <tr>
            <td>Coimbatore</td>
            <td>Venkateswararao J</td>
            <td>Venkateswararao.J@kotak.com</td>
            <td>7799205002</td>
        </tr>
        <tr>
            <td>Mysore</td>
            <td>Abhishek Kapoor</td>
            <td>Abhishek.Kapoor@kotak.com</td>
            <td>7348911330 / 9670994411</td>
        </tr>
        <tr>
            <td>Vijaywada</td>
            <td>Vineet Agarwal</td>
            <td>mohammad.habeebuddin@kotak.com</td>
            <td>9873157397</td>
        </tr>
        <tr>
            <td>Delhi</td>
            <td>Basant kothari</td>
            <td>basant.kothari@kotak.com</td>
            <td>9212556674</td>
        </tr>
        <tr>
            <td>Calcutta</td>
            <td>Sanjib Dey</td>
            <td>Sanjib.Dey@kotak.com</td>
            <td>9830214477</td>
        </tr>
        <tr>
            <td>Chandigarh</td>
            <td>Anjan Sharma</td>
            <td>anjan.sharma@kotak.com</td>
            <td>9643202483</td>
        </tr>
        <tr>
            <td>Jamshedpur</td>
            <td>Sanjib Dey</td>
            <td>Sanjib.Dey@kotak.com</td>
            <td>9830214477</td>
        </tr>
        <tr>
            <td>Jaipur</td>
            <td>Anjan Sharma</td>
            <td>anjan.sharma@kotak.com</td>
            <td>9643202483</td>
        </tr>
        <tr>
            <td>Jodhpur</td>
            <td>Anjan Sharma</td>
            <td>anjan.sharma@kotak.com</td>
            <td>9643202483</td>
        </tr>
        <tr>
            <td>Raipur</td>
            <td>Sanjib Dey</td>
            <td>Sanjib.Dey@kotak.com</td>
            <td>9830214477</td>
        </tr>
        <tr>
            <td>Rajkot</td>
            <td>Sumitkumar Shah</td>
            <td>Sumitkumar.Shah@kotak.com</td>
            <td>9909975316</td>
        </tr>
        <tr>
            <td>Pune</td>
            <td>Ankur Jain</td>
            <td>ankur.jain@kotak.com</td>
            <td>9168682569</td>
        </tr>
        <tr>
            <td>Ahmedabad</td>
            <td>Sumitkumar Shah</td>
            <td>Sumitkumar.Shah@kotak.com</td>
            <td>9909975316</td>
        </tr>
        <tr>
            <td>Surat</td>
            <td>Sumitkumar Shah</td>
            <td>Sumitkumar.Shah@kotak.com</td>
            <td>9909975316</td>
        </tr>
        <tr>
            <td>Baroda</td>
            <td>Sumitkumar Shah</td>
            <td>Sumitkumar.Shah@kotak.com</td>
            <td>9909975316</td>
        </tr>
        <tr>
            <td>Indore</td>
            <td>Ankur Jain</td>
            <td>ankur.jain@kotak.com</td>
            <td>9168682569</td>
        </tr>
        <tr>
            <td>Vizag/ Vishakapatnam/Hyderabad</td>
            <td>Vineet Agarwal</td>
            <td>vineet.agarwal@kotak.com</td>
            <td>9873157397</td>
        </tr>
    </table>
<!-- footer-section --

{%endblock %}