{% extends 'website/base2.html' %}



{% block title %} Contact us - {{ super() }}{% endblock %}


{% block content %}
<div class="bg-gradient pt-5 pb-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <!-- counter-block -->
                <div class="counter-block">
                    <div class="counter" data-count="10000">0</div><span class="counter-small-text">+</span>
                    <p class="text-white"><strong>Customer </strong></p>
                </div>
                <!--/.counter-block -->
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <!-- counter-block -->
                <div class="counter-block">
                    <div class="counter" data-count="200">0</div><span class="counter-small-text">K</span>
                    <p class="text-white text-center"><strong>Application received
                         </strong></p>
                    <!-- /.counter-block -->
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <!-- counter-block -->
                <div class="counter-block">
                    <div class="counter" data-count="180">0</div><span class="counter-small-text">K</span>
                    <p class="text-white"><strong>Approved Loan </strong></p>
                </div>
                <!-- /.counter-block -->
            </div>
            
             <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                <!-- counter-block -->
                <div class="counter-block">
                    <div class="counter" data-count="92%">0</div><span class="counter-small-text">%</span>
                    <p class="text-white"><strong>Customer satisfied </strong></p>
                </div>
                <!-- /.counter-block -->
            </div>
        </div>
    </div>
</div>
<!-- /.counters -->

<!-- about-section -->
<div class="bg-light pt-4 pb-4">
    <div class="container">
       
        <!-- about-description  -->
        <div class="row">
            
                 <h1>About Us</h1>
                    <p class="justify">

                        Welcome to Digi-Loan, your trusted financial partner for all your borrowing needs. With our commitment to excellence and customer satisfaction, we aim to provide personalized and hassle-free loan solutions that meet your unique financial requirements.
                        
                        At Digi-Loan, we understand that life is full of unexpected expenses and opportunities that may require additional funds. Whether you're planning a dream vacation, consolidating debt, starting a business, or dealing with unexpected medical expenses, we are here to help you navigate the financial landscape and achieve your goals.
                        
                        What sets us apart is our dedication to building strong and lasting relationships with our clients. We believe in transparency, integrity, and treating every customer with the utmost respect. Our team of experienced loan experts is committed to understanding your specific needs and guiding you through the loan process with professionalism and efficiency.
                        
                        Our loan options are designed to cater to a wide range of needs and circumstances. Whether you have excellent credit or are working to rebuild it, we have flexible loan programs that can accommodate various credit profiles. We offer competitive interest rates, flexible repayment terms, and loan amounts that can be tailored to fit your budget.
                        
                        As a responsible lender, we prioritize financial education and empowerment. We strive to provide you with the knowledge and tools necessary to make informed borrowing decisions. Our team is always available to answer your questions, address your concerns, and provide guidance on managing your finances effectively.
                        
                        We are proud to be a fully licensed and regulated loan agency, ensuring that your interests are protected throughout the borrowing process. Your privacy and security are of the utmost importance to us, and we employ robust measures to safeguard your personal and financial information.
                        
                        At Digi-Loan, we believe that everyone deserves access to fair and affordable financing options. We are committed to promoting financial inclusivity and providing equal opportunities to individuals from all walks of life.
                        
                        Contact us today and discover how Digi-Loan can help you achieve your financial goals. Whether you need a personal loan, business loan, or any other type of loan, we are here to support you every step of the way. Trust us to be your reliable partner in securing the financial assistance you need.</p>


                    </br>
                    <br/>

                        <h1>Why we?</h1>
                        <p class="justify">
                            Multiple options,
                            Free door step service,
                            Quick Processing ,
                            Best suitable rate of interest,
                            Apply from home,
                            No need to open a bank account,
                            Customer satisfaction,
                            Business  Associates Satisfaction,
                            Single point contact solution,
                            All loan products under one roof,
                            Highest payout of business acquisition,
                            Timely payout best reward and contact,
                            CRM Facilities  provide to our business associates
                           </p>
            
        </div>
        <!-- /.about-description  -->
        <!-- about-features  -->
        <div class="row c-center">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="mb30">
                    <div class="mb20"><img src="{{ url_for('static', filename='website/images/rDrXY6HOcQOq.png') }}" alt="Borrow - Loan Company Responsive Website Templates"></div>
                    <h3>Fast, Free and Flexible</h3>
                </div>
            </div>
            <!-- /.about-features  -->
            <!-- about-features  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="mb30">
                    <div class="mb20"><img src="{{ url_for('static', filename='website/images/G5Y659twl50t.png') }}" alt="Borrow - Loan Company Responsive Website Templates"></div>
                    <h3>Reach Us 24/7</h3>
                </div>
            </div>
            <!--/.about-features  -->
            <!-- about-features  -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <div class="mb30">
                    <div class="mb20"><img src="{{ url_for('static', filename='website/images/EzSjYGO1Cv0y.png') }}" alt="Borrow - Loan Company Responsive Website Templates"></div>
                    <h3>100% Safe and Secure</h3>
                </div>
            </div>
            <!-- /.about-features  -->
        </div>
    </div>
</div>
<!-- /.about-section -->

{%endblock %}