{% extends "base.html" %}

{% block title %}User Edit{% endblock %}

{% block content %}
<div class="page-wrapper">
	<div class="page-content">
		<!--breadcrumb-->
		<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
			<div class="breadcrumb-title pe-3">Profile</div>
			<div class="ps-3">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb mb-0 p-0">
						<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">Change password</li>
					</ol>
				</nav>
			</div>
			
		</div>
		<!--end breadcrumb-->
		<div class="container">
			<div class="main-body">
				<div class="row">
					<form  action="{{ url_for('change_password') }}" method="POST" >
					
					

					<div class="col-lg-8">
						<div class="card">
							<div class="card-body">

								
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Old Password</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input name="old_password" type="password" class="form-control" required />
										
									</div>
								</div>
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Password</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input name="new_password" type="password" class="form-control" required/>
										
									</div>
								</div>
								
								<div class="row mb-3">
									<div class="col-sm-3">
										<h6 class="mb-0">Retype Password</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										<input name="retype_password" type="password" class="form-control" required />
									
									</div>
								</div>
								
								
								
								<div class="row">
									<div class="col-sm-3"></div>
									<div class="col-sm-9 text-secondary">
										<input type="submit" class="btn btn-primary px-4" value="Change password" />
									</div>
								</div>
							</div>
						</div>
						
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

