{% extends 'base.html' %}



{% block title %} digi-loans - {{ super() }}{% endblock %}


{% block content %}

	
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
				<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">Widget</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Widgets</li>
							</ol>
						</nav>
					</div>
				
				</div>
				<!--end breadcrumb-->
				
				<h6 class="mb-0 text-uppercase">Dashbboard</h6>
				<hr/>
				
				
				
				<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
					{% if session["role"][0]==1 %}
					<div class="col">
				

						<div class="card radius-10 bg-primary bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Total Subadmins</p>
										<h4 class="my-1 text-white">{{total_sub_admin_count}}</h4>
									</div>
									<div class="text-white ms-auto font-35"><i class='bx bx-user'></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					{% if session["role"][0]<3 %}
					<div class="col">
						<div class="card radius-10 bg-danger bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Total Branches</p>
										<h4 class="my-1 text-white">{{total_branhes_count}}</h4>
									</div>
									<div class="text-white ms-auto font-35"><i class='bx bx-bank'></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					{% if session["role"][0]<=3 %}

					<div class="col">
						<div class="card radius-10 bg-warning bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-dark">Total Users</p>
										<h4 class="text-dark my-1">{{total_users_count}}</h4>
									</div>
									<div class="text-dark ms-auto font-35"><i class='bx bx-user-pin'></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<div class="col">
						<div class="card radius-10 bg-success bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-white">Total DSA</p>
										<h4 class="my-1 text-white">{{total_dsa_count}}</h4>
									</div>
									<div class="text-white ms-auto font-35"><i class='bx bx-account'></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="col">
						<div class="card radius-10 bg-warning bg-gradient">
							<div class="card-body">
								<div class="d-flex align-items-center">
									<div>
										<p class="mb-0 text-dark">Pending Applications</p>
										<h4 class="text-dark my-1">{{total_pending_applications}}</h4>
									</div>
									<div class="text-dark ms-auto font-35"><i class='bx bx-comment-detail'></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<!--end row-->
			</div>
		</div>

		

		

	{% endblock %}