<!DOCTYPE html>
<html>
<head>
    <title>{{ form_title }}</title>
    <!-- Add the following Bootstrap CDN links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            background-color: #f2f2f2; /* Light gray background color */
        }
    </style>

</head>
<body>
    <div class="container py-4"> <!-- Added padding to create space around the form -->
        <h1 class="display-4">{{ form_title }}</h1>
        <img src="{{ url_for('static', filename=form_image) }}" alt="Form Image" width="300" >



        <form action="/form/{{ form_id }}" method="post" enctype="multipart/form-data" class="m-4">
          
            <input type="hidden" name="redirectUrl" value="{{redirectUrl}}">
            <label for="dsa_id">DSA Code</label>

            <input type="text" id="dsa_id" name="dsa_id" class="form-control" value="{{user_id}}" required>




            {% for field in form_fields %}
                {% if field.field_type == 'heading' %}
                    <h3>{{ field.field_label }}</h3>
                {% elif field.field_type == 'paragraph' %}
                    <p>{{ field.field_label }}</p>
                {% elif field.field_type == 'text' %}
                    <div class="form-group mb-3">
                        <label for="{{ field.field_label }}">{{ field.field_label }}</label>
                        <input type="text" id="{{ field.field_label }}" name="{{ field.field_label }}" class="form-control" required>
                    </div>
                {% elif field.field_type == 'email' %}
                    <div class="form-group mb-3">
                        <label for="{{ field.field_label }}">{{ field.field_label }}</label>
                        <input type="email" id="{{ field.field_label }}" name="{{ field.field_label }}" class="form-control" required>
                    </div>
                {% elif field.field_type == 'tel' %}
                    <div class="form-group mb-3">
                        <label for="{{ field.field_label }}">{{ field.field_label }}</label>
                        <input type="tel" id="{{ field.field_label }}" name="{{ field.field_label }}" class="form-control" required>
                    </div>
                {% elif field.field_type == 'number' %}
                    <div class="form-group mb-3">
                        <label for="{{ field.field_label }}">{{ field.field_label }}</label>
                        <input type="number" id="{{ field.field_label }}" name="{{ field.field_label }}" class="form-control" required>
                    </div>
                {% elif field.field_type == 'file' %}
                    <div class="form-group mb-3">
                        <label for="{{ field.field_label }}">{{ field.field_label }}</label>
                        <input type="file" id="{{ field.field_label }}" name="{{ field.field_label }}" accept=".pdf,.doc,.docx,.png,.jpg" class="form-control" required>
                    </div>
                {% elif field.field_type == 'select' %}
                    <div class="form-group mb-3">
                        <label for="{{ field.field_label }}">{{ field.field_label }}</label>
                        <select id="{{ field.field_label }}" name="{{ field.field_label }}" class="form-control" required>
                            {% for option in field.options %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% elif field.field_type == 'radio' %}
                    <div class="form-group mb-3">
                        <label>{{ field.field_label }}</label><br>
                        {% for option in field.options %}
                            <input type="radio" name="{{ field.field_label }}" value="{{ option }}"> {{ option }}<br>
                        {% endfor %}
                    </div>
                {% elif field.field_type == 'date' %}
                    <div class="form-group mb-3">
                        <label for="{{ field.field_label }}">{{ field.field_label }}</label>
                        <input type="date" id="{{ field.field_label }}" name="{{ field.field_label }}" class="form-control" required>
                    </div>
                {% elif field.field_type == 'textarea' %}
                    <div class="form-group mb-3">
                        <label for="{{ field.field_label }}">{{ field.field_label }}</label>
                        <textarea id="{{ field.field_label }}" name="{{ field.field_label }}" class="form-control" rows="4" required></textarea>
                    </div>
                {% elif field.field_type == 'checkbox' %}
                    <div class="form-check mb-3">
                        <input type="checkbox" id="{{ field.field_label }}" name="{{ field.field_label }}" class="form-check-input" required>
                        <label class="form-check-label" for="{{ field.field_label }}">{{ field.field_label }}</label>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Apply Now</button>
        </form>
    </div>
</body>
</html>
