{% extends 'base.html' %}



{% block title %}All Forms - {{ super() }}{% endblock %}


{% block content %}

<div class="page-wrapper">
	<div class="page-content">
<div class="card-body">
    <div class="d-flex align-items-center">
        <div>
            <h5 class="mb-0">Forms products</h5>
        </div>
        <div class="font-22 ms-auto"><i class="bx bx-dots-horizontal-rounded"></i>
        </div>
    </div>
    <hr>
    {% if msg %}
    <div class="alert alert-primary border-0 bg-primary alert-dismissible fade show">
        <div class="text-white">{{ msg }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

    <div class="table-responsive">
        <table class="table align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>image</th>

                    <th>date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for form in forms %}
                <tr>
                    <td>{{ form[0] }}</td>
                    <td>
                        {{ form[2]}}
                       
                    </td>
            

                    <td><img src="{{ url_for('static', filename=form[7]) }}" alt="Form Image" width="100" ></td>
                    <td>{{ form[4]}}</td>

                 
                  
                    
                    <td>
                     


                        {% if session["role"][0]==1 %}
                        <button type="button" class="btn btn-danger btn-sm radius-30 px-4" data-bs-toggle="modal" data-bs-target="#exampleScrollableModal_{{ form[0] }}">Delete</button>
                        
                        <div class="modal fade" id="exampleScrollableModal_{{ form[0] }}" tabindex="-1" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                            <p>Do you want to <br> delete {{form[2]}} form?</p>
             
                                                            
                                                            
                                    </div>
                                    <div class="modal-footer">
                                        <form method="POST" action="{{ url_for('delete_form') }}">
                                            <input type="hidden" name="form_id" value="{{ form[0] }}">
                                     
                                            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">No</button>

                                          
                                        </form>



                                        
                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <a type="button" class="btn btn-warning btn-sm radius-30 px-4" href="{{ url_for('edit_form', form_id=form[0]) }}">Edit</a>

                     {% endif %}

                     {% if session["role"][0]>3 %}
                     <a type="button" class="btn btn-primary btn-sm radius-30 px-4" href="{{ url_for('show_form', form_id=form[0]) }}?user_id={{session['user'][0]}}">Open</a>
                     {%else%}
                     <a type="button" class="btn btn-primary btn-sm radius-30 px-4" href="{{ url_for('show_form', form_id=form[0]) }}">Open</a>

                     {% endif %}
                    
                       

                        
          
                    </td>
                </tr>
            

                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endblock %}
